<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredients</title>
</head>
<body>
    <h1>Ingredients</h1>
    <a href="/ingredients/new">Add New Ingredient</a>
    <ul>
        <% ingredients.forEach(ingredient => { %>
            <li>
                <%= ingredient.name %> - <%= ingredient.quantity %>
            </li>
        <% }) %>
    </ul>
</body>
</html>
